.footer {
  background-color: var(--background-light);
  padding: 2rem 0;
  margin-top: auto; /* Pour coller le footer en bas */
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  color: var(--text-secondary);
}

.footer-links {
  display: flex;
  gap: 2rem;
}

.footer-links a {
  color: var(--text-secondary);
  text-decoration: none;
  transition: var(--transition-normal);
}

.footer-links a:hover {
  color: var(--secondary);
}
